
html, body {
    margin: 0px;
    font-size: 14px;
    width: 100%;
    height: 100%;
}


.CodeMirror{
  width: 100%;
  height: 100%;
}

/* Custom styles */
.main-container{
    height: calc(100% - 36px);
}

.file_item {
    position: absolute;
    display: flex;
}

.file_arrow {
    position : absolute;
    left : 0px;
}


.page-container {
    margin: 20px;
}

#rcffile{
    visibility: hidden;
    position: absolute;
    top: -99999px;
}

/* horizontal panel*/

.panel-container {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    /* avoid browser level touch actions */
    xtouch-action: none;
}

.panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 10px;
    width: 300px;
    min-height: 200px;
    min-width: 150px;
    white-space: nowrap;
    background: white;
    /*color: white;*/
}

.ul.fancytree-container{
    border: none !important;
}

.splitter-v {
    flex: 0 0 auto;
    width: 8px;
    background: url(../img/vsizegrip.png) center center no-repeat lightgrey;
    min-height: 200px;
    cursor: col-resize;
}

.splitter-h {
    flex: 0 0 auto;
    height: 8px;
    background: url(../img/vsizegrip.png) center center no-repeat lightgrey;
    min-width: 200px;
    cursor: col-resize;
}

.panel-right {
    flex: 1 1 auto;
    /* resizable */
    padding: 10px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    background: #eee;
}

#loader{
    background-color: rgba(13,13,13,0.5);
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
  